<% opinions.each do |opinion|%>
  <div class="mb-3 py-2 px-2 white-backg">
    <div class="row mx-0">
      <div class="col-lg-1 px-0">
      <%= image_tag 'dog.jpg', class: 'd-block w-100 h-100' %>
      </div>
      <div class="col-lg-11">
      <p class="font-weight-bold author-name mb-0"><%= link_to(opinion.author.name, user_path(opinion.author))%></p>
      <p class="text-muted"><%= opinion.content %></p>
      <div class="d-flex justify-content-end">
      <%= edit_destroy(opinion.author, opinion) %>
      <%= fav_btn(opinion)%>
      </div>
      </div>
    </div>
  </div>
<%end%>