<!DOCTYPE html>
<html>
  <head>
    <title>TwitterCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/81241be388.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <div class="container-fluid h-100">
    <div class="row">
      <div class="col-lg-2 px-0 position-fixed sidebar">
        <%= user_navbar %>
      </div>
      <div class="col-lg-10 px-0 offset-2 main-container">
        <div class="navbar justify-content-end navbar-color py-2">
        <!--<p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>-->
          <%= navbar %>
        </div>
        <%= yield %>
        </div>
      </div>
  </div>
  </body>
</html>
