<!DOCTYPE html>
<html>
  <head>
    <title>TwitterCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-2 px-0 position-fixed">
        <ul class="sidebar">
          <li>Hello
          </li>
        </ul>
      </div>
      <div class="col-xl-10 px-0 offset-2">
        <div class="navbar justify-content-end navbar-color py-4 mb-3">
          <%= navbar %>
        </div>
        <%= yield %>
        </div>
      </div>
  </div>
  </body>
</html>
